@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

